<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Регистрация</title>
</head>
<body>
<h2>Регистрация пользователя</h2>

<form method="post" th:action="@{/register}" th:object="${user}">
    Логин: <input type="text" name ="username"/><br>
    Пароль: <input type="password" name="password"/><br>

    Роль:
    <select th:field="*{authorities}">
        <option value="USER" selected>USER</option>
        <option value="ADMIN">ADMIN</option>
    </select><br>

    <button type="submit">Зарегистрироваться</button>
</form>

<p>Уже есть аккаунт? <a th:href="@{/login}">Войти</a></p>

</body>
</html>
