
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Фильмотека</title>
</head>
<body>
<h2>Список фильмов</h2>

<table border="1">
  <tr>
    <th>Название</th>
    <th>Год</th>
    <th>Рейтинг</th>
    <th>Действие</th>
  </tr>
  <tr th:each="movie : ${movies}">
    <td th:text="${movie.name}"></td>
    <td th:text="${movie.year}"></td>
    <td th:text="${movie.rating}"></td>
    <td>
      <a th:href="@{'/movie/user/' + ${movie.id}}">
        <button>Выбрать</button>
      </a>
    </td>

